<div class="modal fade" id="modal_asignaturas" >
  <div class="modal-dialog" style="width: 65%">
    
    <div class="modal-content">


            
<div class="panel-group" >
            <div class="panel panel-primary">
                    <div class="panel-heading"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">LISTA DE ASIGNATURAS </h4>
       </div> 
                  <div class="panel-body">

          <div class="col-md-6 input-group">
               <span class="input-group-addon"><span class="fa fa-search"></span></span><input type="text" ng-model="search" ng-change="filter()" placeholder="Buscar registros" class="form-control" />
            </div>
            <div class="col-md-4">
                <h5>Filtrado {{ filtered.length }} de {{ totalItems}} total datos</h5>
            </div>
        <br/>
        <div class="row">
            <div class="col-md-12" ng-show="filteredItems > 0">
                <table class="table table-bordered table-sm table-hover">
                <thead style=" background-color: lightcyan; align-content: center; color:">
                <th>ID&nbsp;<a ng-click="sort_by('id');"><i class="fa fa-sort"></i></a></th>
                <th>NOMBRE&nbsp;<a ng-click="sort_by('nombre');"><i class="fa fa-sort"></i></a></th>
                <th>ID GRADO&nbsp;<a ng-click="sort_by('id_grado');"><i class="fa fa-sort"></i></a></th>
                <th>NOMBRE GRADO&nbsp;<a ng-click="sort_by('nombre_grado');"><i class="fa fa-sort"></i></a></th>
                <th>SELECT</th>
                </thead>
                <tbody>
                    <tr ng-repeat="data in filtered = (list_asignaturas | filter:search | orderBy : 'tipo':inverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" >
                        
                        <td style=" text-align: right">{{data.id}}</td>
                        <td>{{data.nombre}}</td>
                        <td style=" text-align: right">{{data.id_grado}}</td>
                        <td>{{data.nombre_grado}}</td>
                        <td style="background-color:  #7ecff4; text-align:  center" ng-click="seleccion_asinatura(data)">
                            <a   data-dismiss="modal" aria-label="Close"><i class="fa fa-edit"></i></a>
			</td>
                    </tr>
                </tbody>
                <tfoot style=" text-align: right;">
                    
                            <pagination   total-items="totalItems" ng-model="currentPage"  
                                  max-size="5" boundary-links="true"  
                                  items-per-page="numPerPage" 
                                  class="pagination-sm" force-ellipses="true" 
                                  first-text="Primero"  last-text="Ultimo" 
                                  next-text="Siguiente" previous-text="Anterior"
                                >
                             </pagination>    
                </tfoot>
                </table>
                
            </div>


        </div>
                  </div>   
          </div><!-- /.modal-content -->
       </div>
  </div><!-- /.modal-dialog -->
      
</div>
</div>
